@import url('https://fonts.googleapis.com/css?family=Roboto');

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  line-height: .99;
}

h2 {
  color: #00a3da;
}

a {
  color: #ff7d04;
  text-decoration: underline;
}

.wrapper {
  padding-left: .5em;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
  font-family: 'Libre Franklin', sans-serif;
}

.TazLogo {
  width: 180px;
}


@media (min-width: 26.93rem) {
  header {
    height: 29em;
    background-image: url(./img/blue_man.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

@media (min-width: 30em) {
  .wrapper {
    padding-left: 4em;
  }
}

.intro {
  max-width: 18em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

span {
  color: #00a3da;
}

@media (max-width: 26.92rem) {

footer {
  background-image: url(/static/media/blue_man.bb067ec3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 48vh;
}

}
